<%= form_for(@tasklist) do |f| %>
  <% if @tasklist.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@tasklist.errors.count, "error") %> prohibited this tasklist from being saved:</h2>
    <ul>
    <% @tasklist.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>