
<div class="span-16  ">




<p>
  
  <h2>
  <%= @tasklist.title  %>
  <h2>
</p>


<h3>Current Tasks </h3>
   
<div id="tasks">
<%= render :partial => "tasks/show", 
           :collection => @tasklist.tasks,:locals => { :status => 'A' }, :as => :task  %>

</div>
<% if(!@tasklist.completed_task.empty?)

%>
<h3>Completed task </h3>
   
<div id="completedtask">
<%= render :partial => "tasks/show", 
           :collection => @tasklist.completed_task, :locals => { :Status => 'C' }, :as => :task  %>

</div>		   
	<% 

end if
%>

<h3>Add new Task</h3>	

<%= render "tasks/form" %>
<%= link_to 'Back', tasklist_path %>
</div>
<div class="span-8 last">

</div>
