<%= div_for task do %>
<div class="span-20  ">

<div class ="span-10 ">
<div class ="span-2">
<% 

if( status != nil && status  =='C')
    css_display ="text-decoration:line-through;"
	else
	css_display =""
	end
%>
<% if(status != nil && status  =='C') %>

  <%= link_to "Undo complete", uncomplete_tasklist_task_path(task.tasklist,task), :method => :put , :remote => true  %>
  <% else %>
  <%= link_to "Mark as complete", complete_tasklist_task_path(task.tasklist,task), :method => :put , :remote => true %>
  
  <%
  end
	
%>

	  
</div>
<h3 style = <%= css_display %> >
  <%= task.title %>
 </h3>
</div>

<div class ="span-5">
<b>Next Action </b>

  <%= check_box_tag 'next_action', task.id, task.next_action, :class => 'next_action' %> 
</div>

<div class ="span-2">
<%= link_to image_tag("/assets/edit_active.png", :border=>0), edit_tasklist_task_path(task.tasklist,task)  %>
</div>

<div class = "span-2">
	<%= link_to image_tag("/assets/delete_active.png", :border=>0), [task.tasklist, task],
               :confirm => 'Are you sure?',
               :method => :delete %>
</div>
<hr class ="space">

</div>
<div class ="span-4 last">
</div>
<% end %>